_site/*
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
.jekyll-cache
**.aux
**.blg
**.bbl
**.cls
**.tex
**.bst
**.bib
**.fdb_latexmk
**.log
**.fls
**.out
**.gz
