<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }}/{% if page.title %}{{ page.title }} {% endif %}
    </title>
    {% include meta.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>
  <body>
    <div id="main" role="main" class="container">
      {{ content }}
    </div>
    {% include analytics.html %}
  </body>
</html>
